[submodule "third_party/uvm-1.2"]
	path = tb/uvm/uvm-1.2
	url = https://github.com/verilator/verilator
[submodule "third_party/riscv-arch-test"]
	path = dv/riscof/riscv-arch-test
	url = https://github.com/riscv-non-isa/riscv-arch-test
